@font-face {
    font-family: "TwitterChirp";
    src: url(../assets/fonts/Chirp/chirp_web.ttf) format('truetype');
    src: url(../assets/fonts/Chirp/chirp_web.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "TwitterChirp";
    src: url(../assets/fonts/Chirp/chirp_web_medium.ttf) format('truetype');
    src: url(../assets/fonts/Chirp/chirp_medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "TwitterChirp";
    src: url(../assets/fonts/Chirp/chirp_web_bold.ttf) format('truetype');
    src: url(../assets/fonts/Chirp/chirp_bold.woff2) format('woff2');
    font-weight: 700;
}

body {
    background-color: rgb(21, 32, 43);
    font-family: TwitterChirp;
    font-weight: 500;
    margin: 0;
}

h1 {
    font: 28px Verdana;
    text-align: center;
    color: #718096;
}

.content {
    padding: 0 15px;
    width: 1248px;
    margin: 0 auto;
}

.user-dropdown.el-popper.is-light {
    border: none;
    box-shadow: rgba(136, 153, 166, 0.2) 0 0 15px, rgba(136, 153, 166, 0.15) 0 0 3px 1px;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgb(21, 32, 43);
    cursor: pointer;
}
