@font-face {
    font-family: "TwitterChirp";
    url("#/public/fonts/Chirp/chirp_regular/chirp_regular.otf") format("otf"),
    url("#/public/fonts/Chirp/chirp_regular/chirp_web.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
